<html>
  <head>
    <title>Our funkadelic app</title>
  </head>
  <body>
    <h1><%= @full_name %></h1>
    <p><%= @greeting %> there. You're the instructor for our class.</p>
    <img src="/img/drwho.gif">
  </body>
</html>
