<div class="row">
  <div class="col-sm-3">
    <%= image_tag 'back-end-engineering-icon', alt: "Hey you guuuuys!", class: "img-responsive" %>
  </div>
  <div class="col-sm-9">
    <%= simple_format @lipsum.to_s %>
  </div>
</div>
