// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.time_to_read {
  font-size: 0.5em;
  float: right;
  color: green;
}

@keyframes highlight {
 	0% {
 		background: #f0ad4e
 	}
 	100% {
 		background: none;
 	}
}

.fader:target {
	animation: highlight 1s;
}
